# Python
__pycache__/
*.py[oc]
*.pyd
*.egg-info/
build/
dist/
wheels/
.venv/

# Env files
.env
.env.*

# Node/Frontend
node_modules/
.vite/
dist/
coverage/

# TypeScript
*.tsbuildinfo

# Logs and misc
*.log
nohup.out

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

infra/terraform.tfvars